#filter {
    max-height: 300px;
    /* height: 408px; infinite scroll */
    overflow: auto;
}

#filterCategory {
    max-height: 200px;
    overflow: auto;
}

.accordion-button {
    height: 40px;
}